sources:
 /home/ec2-user/: https://github.com/s3tools/s3cmd/releases/download/v1.5.2/s3cmd-1.5.2.zip
 
container_commands:
 01_remove_tty:
  command: echo Defaults:root \!requiretty >> /etc/sudoers

 02_s3_install_s3cmd:
  command: sudo python setup.py install
  cwd: /home/ec2-user/s3cmd-1.5.2/

 03_s3_upload_images:
  command: s3cmd put -r public/images s3://s3cloudfrontbeanstalk/assets/ --acl-public --add-header Cache-Control:max-age=290304000 --config /home/ec2-user/s3cmd-1.5.2/
  cwd: /var/app/current/
  leader_only: true
  
